
body {
    background-color: lightgray;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    color: white;
    background-color: #6f74ff;
    margin: 0 auto;
    height: 50px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    justify-content: left;
    gap: 12px;
    list-style-type: none;
    font-weight: bold;
}

header section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
}

main li {
    background-color: white; 
    color: black;
    margin: 10px;
    border: 2px solid gray;
}


input {
    height: 32px;
    background-color: white; 
    color: black;
    border-color: purple;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px;
}

button {
    font-size: 16px;
    padding: 14px;
    background-color: purple;
    border-width: 0px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}



button:hover {
    transition: 0.5s background;
    background-color: darkviolet;
}

footer {
    background-color: #6f74ff;
    height: 50px;
    padding: 16px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

footer div {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
    
}

